html,
body {
  width: 100%;
  margin: 0;
  font-family: "Fakt", sans-serif, Helvetica, Arial;
}

*,
:after,
:before {
  box-sizing: border-box;
}

a,
u {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}
